{
	"parser": "@typescript-eslint/parser",
	"extends": ["prettier", "plugin:prettier/recommended"],
	"parserOptions": {
	  "ecmaVersion": 2018,
	  "sourceType": "module"
	},
	"rules": {
	  "prettier/prettier": [
		"error",
		{
		  "singleQuote": true,
		  "semi": false,
		  "arrowParens": "avoid",
		  "trailingComma": "none"
		}
	  ]
	}
  }
  